<footer id="pie">
  <h1>¡Seguinos en todas nuestras redes sociales!</h1>

  <div class="social-icons">
    <a href="https://www.instagram.com/"
      ><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
    /></a>

    <a href="https://es-la.facebook.com/"
      ><img src="https://img.icons8.com/fluency/48/000000/facebook.png"
    /></a>

    <a href="https://twitter.com/i/flow/login"
      ><img src="https://img.icons8.com/color/48/000000/twitter--v1.png"
    /></a>
  </div>
</footer>
