#btn-volver {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #a88976;
    color: white;
    border: none;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
